<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if title %}
    <title>Expense Tracker - {{ title }}</title>
  {% else %}
  <title>Expense Tracker</title>
  {% endif %}
  <link href={{ url_for('static', filename='style.css' ) }} rel="stylesheet">
  <link href={{ url_for('static', filename='dist/output.css' ) }} rel="stylesheet">
</head>

<body>
  {% block content %}
    <h1 class="text-3xl font-bold text-center">Expense Tracker</h1>
    <p>Base file</p>
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>
