{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold mb-6 text-center">Financial Overview</h2>
    
    <!-- Flex container for the charts -->
    <div class="flex flex-wrap -mx-2">
        <!-- Income vs Expense Chart -->
        <div class="w-full md:w-1/2 px-2 mb-4">
            <div class="bg-white rounded-lg shadow-lg p-4 h-full">
                <h3 class="text-lg font-semibold mb-4 text-center">Income vs Expenses</h3>
                <div class="relative h-64">
                    <canvas id="income_vs_expense" class="w-full h-full mx-auto"></canvas>
                </div>
            </div>
        </div>
        
        <!-- Income Categories Chart -->
        <div class="w-full md:w-1/2 px-2 mb-4">
            <div class="bg-white rounded-lg shadow-lg p-4 h-full">
                <h3 class="text-lg font-semibold mb-4 text-center">Income Categories</h3>
                <div class="relative h-64">
                    <canvas id="income_vs_category" class="w-full h-full"></canvas>
                </div>
            </div>
        </div>
        
        <!-- Overtime Expenditure Chart -->
        <div class="w-full md:w-1/2 px-2 mb-4">
            <div class="bg-white rounded-lg shadow-lg p-4 h-full">
                <h3 class="text-lg font-semibold mb-4 text-center">Expenditure Over Time</h3>
                <div class="relative h-64">
                    <canvas id="overtime_expenditure" class="w-full h-full"></canvas>
                </div>
            </div>
        </div>

        <!-- Expense Categories Chart -->
        <div class="w-full md:w-1/2 px-2 mb-4">
            <div class="bg-white rounded-lg shadow-lg p-4 h-full">
                <h3 class="text-lg font-semibold mb-4 text-center">Expense Categories</h3>
                <div class="relative h-64">
                    <canvas id="expense_vs_category" class="w-full h-full"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="income_vs_expense-data" type="application/json">{{ income_vs_expense | tojson }}</script>
<script id="income_category-data" type="application/json">{{ income_category | tojson }}</script>
<script id="expense_category-data" type="application/json">{{ expense_category | tojson }}</script>
<script id="over_time_expenditure-data" type="application/json">{{ over_time_expenditure | tojson }}</script>
<script id="labels-data" type="application/json">{{ dates_label | tojson }}</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
